Repository pavloKozlov/rentalcars-search: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylefmt, stylelint '**/*.scss' --fix

.lintstagedrc:

{
  "*.js": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md,yml}": [
    "prettier --write"
  ],
  "**/*.scss": [
    "stylefmt",
    "stylelint '**/*.scss' --fix",
  ]
}

Add debounce for autocomplete
  src/App.js
  src/components/Autocomplete/Autocomplete.container.js
  src/components/Autocomplete/Autocomplete.js
  src/components/Autocomplete/index.js
  src/components/Input/Input.js
  src/hooks/useDebounce.js
  src/utils/debounce.js
Due: eslint --fix, prettier --write

Add Search, ResultsList
  .eslintrc
  config/tests/enzymeSetup.js
  jest.config.js
  package.json
  src/App.js
  src/components/Autocomplete/index.js
  src/components/AutocompleteInput/AutocompleteInput.container.js
  src/components/AutocompleteInput/AutocompleteInput.js
  src/components/AutocompleteInput/index.js
  src/components/ResultsList/ResultItem/ResultsItem.js
  src/components/ResultsList/ResultsList.js
  src/components/ResultsList/ResultsList.spec.js
  src/components/ResultsList/index.js
  src/components/ResultsList/resultsList.scss
  src/components/Search/Search.container.js
  src/components/Search/Search.js
  src/components/Search/index.js
  src/hoc/withValueOnChange.js
  src/types/typedefs.js
  yarn.lock
Due: eslint --fix, prettier --write, stylefmt, stylelint '**/*.scss' --fix

Connect search input and results list
  src/components/ResultsList/ResultItem/ResultsItem.js
  src/components/ResultsList/ResultsList.container.js
  src/components/ResultsList/ResultsList.js
  src/components/ResultsList/ResultsList.spec.js
  src/components/ResultsList/index.js
  src/components/ResultsList/resultsList.scss
  src/components/Search/Search.container.js
  src/components/Search/Search.js
  src/hooks/useKeyPress.js
  src/services/SearchService.js
  src/types/typedefs.js
Due: eslint --fix, prettier --write, stylefmt, stylelint '**/*.scss' --fix

Add open/close results list
  src/components/AutocompleteInput/AutocompleteInput.container.js
  src/components/AutocompleteInput/AutocompleteInput.js
  src/components/Input/Input.js
  src/components/ResultsList/ResultItem/ResultsItem.js
  src/components/ResultsList/ResultItem/ResultsItem.scss
  src/components/ResultsList/ResultsList.container.js
  src/components/ResultsList/ResultsList.js
  src/components/ResultsList/ResultsList.scss
  src/components/Search/Search.container.js
  src/components/Search/Search.js
Due: eslint --fix, prettier --write, stylefmt, stylelint '**/*.scss' --fix

Update display items in the list and input
  .eslintrc
  .stylelintrc
  src/components/ResultsList/ResultItem/ResultsItem.js
  src/components/ResultsList/ResultItem/ResultsItem.scss
  src/components/ResultsList/ResultsList.container.js
  src/components/Search/Search.container.js
  src/utils/placeUtils.js
Due: eslint --fix, prettier --write, stylefmt, stylelint '**/*.scss' --fix

Fix onChange not firing after results open next time
  src/components/Search/Search.container.js
Due: eslint --fix, prettier --write

Add location icon to the Search field
  config/webpack/webpack.config.common.js
  package.json
  src/assets/icons/location-icon.svg
  src/components/AutocompleteInput/AutocompleteInput.container.js
  src/components/AutocompleteInput/AutocompleteInput.js
  src/components/Input/Input.js
  src/components/Input/Input.scss
  src/components/ResultsList/ResultItem/ResultsItem.scss
  src/components/ResultsList/ResultItem/index.js
  src/components/ResultsList/ResultsList.container.js
  src/components/ResultsList/ResultsList.js
  src/components/ResultsList/ResultsList.scss
  src/components/Search/Search.js
  src/components/Search/Search.scss
  src/index.scss
  src/styles/varibles.scss
  src/utils/classnames.js
  yarn.lock
Due: eslint --fix, prettier --write, stylefmt, stylelint '**/*.scss' --fix

Fix no results found state
  src/components/Input/Input.scss
  src/components/ResultsList/ResultsList.scss
  src/components/Search/Search.js
  src/components/Search/Search.scss
  src/services/SearchService.js
Due: eslint --fix, prettier --write, stylefmt, stylelint '**/*.scss' --fix

Update to fetch data only when >=2 char in the input
  src/components/Search/Search.container.js
Due: eslint --fix, prettier --write

Add loading indicator
  src/components/LoadingIndicator/LoadingIndicator.js
  src/components/LoadingIndicator/LoadingIndicator.scss
  src/components/LoadingIndicator/index.js
  src/components/Search/Search.container.js
  src/components/Search/Search.js
  src/components/Search/Search.scss
Due: eslint --fix, prettier --write, stylefmt, stylelint '**/*.scss' --fix

Add responsiveness
  src/App.js
  src/App.scss
  src/components/LoadingIndicator/LoadingIndicator.scss
  src/components/ResultsList/ResultsList.scss
  src/components/Search/Search.scss
  src/index.scss
Due: eslint --fix, prettier --write, stylefmt, stylelint '**/*.scss' --fix

Update results accessibility
  src/components/AutocompleteInput/AutocompleteInput.container.js
  src/components/AutocompleteInput/AutocompleteInput.js
  src/components/Input/Input.js
  src/components/ResultsList/ResultItem/ResultsItem.js
  src/components/ResultsList/ResultsList.container.js
  src/components/ResultsList/ResultsList.js
  src/components/Search/Search.container.js
  src/components/Search/Search.js
Due: eslint --fix, prettier --write

Add changing selection on option hover
  src/components/ResultsList/ResultItem/ResultsItem.js
  src/components/ResultsList/ResultsList.container.js
  src/components/ResultsList/ResultsList.js
Due: eslint --fix, prettier --write

Add JSDoc
  src/components/AutocompleteInput/AutocompleteInput.container.js
  src/components/AutocompleteInput/AutocompleteInput.js
  src/components/Input/Input.js
  src/components/LoadingIndicator/LoadingIndicator.js
  src/components/ResultsList/ResultItem/ResultsItem.js
  src/components/ResultsList/ResultItem/ResultsItem.scss
  src/components/ResultsList/ResultsList.container.js
  src/components/ResultsList/ResultsList.js
  src/components/ResultsList/resultsListUtils.js
  src/components/Search/Search.container.js
  src/components/Search/Search.js
  src/components/Search/searchUtils.js
  src/hooks/useDebounce.js
  src/hooks/useKeyPress.js
  src/services/SearchService.js
  src/utils/debounce.js
Due: eslint --fix, prettier --write, stylefmt, stylelint '**/*.scss' --fix

Fix opening results list on input focus
  src/components/ResultsList/ResultItem/ResultsItem.js
  src/components/Search/Search.container.js
Due: eslint --fix, prettier --write

Update ResultsList tests
  .eslintrc
  src/components/ResultsList/ResultsList.spec.js
Due: eslint --fix, prettier --write

Add tests for SearchService
  config/tests/enzymeSetup.js
  package.json
  src/components/Search/Search.container.js
  src/services/SearchService.test.js
  yarn.lock
Due: eslint --fix, prettier --write

Add tests for ResultsList container
  jest.config.js
  package.json
  src/components/ResultsList/ResultsList.container.js
  src/components/ResultsList/ResultsList.container.spec.js
  src/hooks/useKeyPress.js
Due: eslint --fix, prettier --write

Move chaning selectedIndex code to Search container
  __mocks__/svgrMock.js
  jest.config.js
  src/components/ResultsList/ResultsList.container.js
  src/components/ResultsList/ResultsList.container.spec.js
  src/components/Search/Search.container.js
  src/components/Search/Search.container.spec.js
  src/components/Search/Search.js
  src/utils/testUtils.js
Due: eslint --fix, prettier --write

Add technical assignment description
  docs/TBU front-end technical test.pdf
Due: none

Update maxSize chunks webpack configuration
  config/webpack/webpack.config.prod.js
Due: eslint --fix, prettier --write

Add comment about using promise inside react component
  src/components/Search/Search.container.js
Due: eslint --fix, prettier --write

Move list navigation logic to ResultsList.container.js
  src/components/ResultsList/ResultsList.container.js
  src/components/ResultsList/ResultsList.container.spec.js
  src/components/Search/Search.container.js
  src/components/Search/Search.js
Due: eslint --fix, prettier --write
